<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minijean.healthmer.model.dao.UserDao">
	<select id="findUser" parameterType="map" resultType="User">
		SELECT *
		FROM `user`
		WHERE `email` = #{email}
		AND `password` = #{newPassword}
	</select>
	
	<update id="changePassword" parameterType="map">
		UPDATE `user`
		SET `password` = #{newPassword}
		WHERE `email` = #{email}
	</update>
</mapper>
